* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #344955;
}

header {
  background-color:#232f34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img{
  margin-top: 10px;
  margin-left: 10px;
}

section {
  padding: 20px;
}

header ul {
  display: flex;
  align-items: center;
  font-weight: bold;
}

ul li {
  padding: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
ul li a:hover {
  color: #F9AA33;
}
ul li a:active {
  color: #4A6572;
}

/*home*/

.hero {
  margin-top: 10px;
  background-image: url("assets/royaume.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 600px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Odibee Sans", cursive;
  font-size: 45px;
  color: #4A6572;
  text-shadow: 1px 1px #000;
  margin: 20px;

}

.about {
  display: flex;
  background-color: #666;
  padding: 20px;
  margin: 2%;
}

.about p {
  text-align: justify;
  padding: 10px;
  flex: 1;
}

h2 {
  font-family: "Odibee Sans", cursive;
  font-size: 45px;
  text-align: center;
  color: #4A6572;
  text-shadow: 1px 1px #000;
  margin: 20px;
}

.content {
  text-align: center;
}

/*royal family*/

.royalfam {
  display: flex;
  justify-content: space-between;
}

.royalfam div {
  flex: 1 1 0;
}
.royalfam div p {
  margin: 5%;
}

h3 {
  padding: 30px;
  background-color: #4A6572;
  border: 2px solid #4A6572;
  text-transform: uppercase;
  border-radius: 10px;
}

.font {
  font-size: 32px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#ugly {
  color: rgb(163, 33, 33);
  font-family: "Macondo";
}

/*royal's asets*/
.assetscontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
table {
  text-align: center;
  justify-content: center;
  border: 2px solid #F9AA33;
}

thead th {
  color: rgb(212, 140, 31);
  text-transform: uppercase;
  font-size: 25px;
}

th {
  background-color: whitesmoke;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
tbody {
  color: white;
}

td {
  background-color: rgb(63, 56, 56);
  padding: 10px;
  text-align: left;
}
.opacity td {
  opacity: 0.8;
}

.perdu td {
  background-color: rgb(212, 67, 67);
}

.hidenseek .opacity {
  opacity: 0.8;
}

.hidenseek th {
  padding: 10px;
}

tfoot td {
  border: 5px solid rgb(168, 168, 168);
  border-radius: 20px;
  text-align: center;
  color: #F9AA33;
}

/*contact us*/

.contenttournois {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-family: "Luxurious Roman", cursive;
}

.contenttournois p {
  width: 80%;
}

.note {
  text-align: right;
  font-family: "Gloria Hallelujah", cursive;
  font-style: italic;
  font-size: 12px;
}

hr {
  width: 40%;
  height: 2px;
  margin: 2% auto;
  background-color: white;
}

#contactForm {
  background-color: grey;
  padding: 30px;
  margin: 2%;
  border: 5px ridge #4A6572;
  border-radius: 20px;
}

label {
  font-family: "Caveat", cursive;
  font-size: 18px;
}

input,
textarea {
  font: 14px sans-serif;
  color: white;
  width: 300px;
  height: 30px;
  margin: 10px auto;
  border: 3px solid #4A6572;
  background-color: #4A6572;
}

#situation{
  width: 80%;
  height: 100px;
}

button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 20px;
  margin: 0 4%;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(to right, #F9AA33 50%, #232F34 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 2s;
}

button:hover {
  color: #000;
  transform: scaleX(1.2) scaleY(1.4);
  background-position: left;
}

.valider{
  text-align: right;
}


/*media navbar*/
@media screen and (max-width: 612px) {
  header,
  header ul,
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h1,
  h2,
  .font,
  h4 {
    font-size: 25px;
  }
}

/*media royal family*/
@media screen and (max-width: 1020px) {
  .royalfam {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 370px) {
  .royalfam img {
    width: 200px;
    height: 200px;
  }
}

/*media des assets*/

@media screen and (max-width: 1400px) {
  .assetscontent {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 534px) {
  thead th {
    font-size: 15px;
  }

  th {
    padding: 10px;
    font-size: 10px;
  }

  td {
    padding: 5px;
    font-size: 10px;
  }

  .hidenseek th {
    padding: 5px;
  }
}

/*media contact us*/
@media screen and (max-width: 600px) {
  .contenttournois {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }

  input,
  textarea {
    width: 80%;
  }
  button:hover {
    transform: scaleX(1) scaleY(1);
  }
  button {
    padding: 3% 5%;
    margin: 5% 5%;
  }
  hr{
    margin: 5% auto;
  }
}


/*haut droit bas gauche
1 : applique le même écart aux 4 côtés.
2 : 1er haut et en bas, 2ième droite et gauche.
3 : 1er écart en haut, 2ième à droite et à gauche, 3ième en bas.
4 : Haut Droit Bas Gauche