* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #344955;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232f34;
}

header img {
  margin-top: 10px;
  margin-left: 10px;
}

section {
  padding: 20px;
}

header ul {
  display: flex;
  align-items: center;
  font-weight: bold;
}

ul li {
  padding: 20px;
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover {
  color: #f9aa33;
}

ul li a:active {
  color: #4a6572;
}

/*home*/

.hero {
  background-image: url("assets/royaume.jpg");
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 10px;
  height: 600px;
}

h1 {
  color: #4a6572;
  font-family: "Odibee Sans", cursive;
  font-size: 45px;
  text-shadow: 1px 1px #000;
  text-align: center;
  margin: 20px;
}

.uper {
  text-transform: uppercase;
}

.about {
  display: flex;
  background-color: #666;
  padding: 20px;
  margin: 2%;
}

.about p {
  flex: 1;
  text-align: justify;
  padding: 10px;
}

.content {
  text-align: center;
}

/*royal family*/

.royalfam {
  display: flex;
  justify-content: space-between;
}

.royalfam div {
  flex: 1 1 0;
}

.royalfam div p {
  margin: 5%;
}

h2 {
  background-color: #4a6572;
  border: 2px solid #4a6572;
  border-radius: 10px;
  font-size: 45px;
  text-transform: uppercase;
  padding: 30px;
}

.royalfam p {
  font-size: 35px;
}

.font {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#ugly {
  color: rgb(163, 33, 33);
  font-family: "Macondo";
}

/*royal's asets*/

.assetscontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table {
  text-align: center;
  justify-content: center;
  border: 2px solid #f9aa33;
}

thead th {
  color: rgb(212, 140, 31);
  text-transform: uppercase;
  font-size: 25px;
}

th {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 20px;
}

tbody {
  color: white;
}

td {
  background-color: rgb(63, 56, 56);
  text-align: left;
  padding: 10px;
}

.opacity td {
  opacity: 0.8;
}

.perdu td {
  background-color: rgb(212, 67, 67);
}

.hidenseek .opacity {
  opacity: 0.8;
}

.hidenseek th {
  padding: 10px;
}

tfoot td {
  border: 5px solid rgb(168, 168, 168);
  border-radius: 20px;
  color: #f9aa33;
  text-align: center;
}

/*contact us*/

.contenttournois {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.contenttournois p {
  width: 80%;
}

.note {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 12px;
  text-align: right;
  font-style: italic;
}

hr {
  background-color: white;
  width: 40%;
  height: 2px;
  margin: 2% auto;
}

#contactForm {
  background-color: grey;
  border: 5px ridge #4a6572;
  border-radius: 20px;
  padding: 30px;
  margin: 2%;
}

label {
  font-family: "Caveat", cursive;
  font-size: 18px;
}

input,
textarea {
  background-color: #4a6572;
  border: 3px solid #4a6572;
  font: 14px sans-serif;
  color: white;
  width: 300px;
  height: 30px;
  margin: 10px auto;
}

#situation {
  width: 80%;
  height: 100px;
}

button {
  background: linear-gradient(to right, #f9aa33 50%, #232f34 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 2s;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 20px 20px;
  margin: 0 4%;
  cursor: pointer;
}

button:hover {
  color: #000;
  transform: scaleX(1.2) scaleY(1.4);
  background-position: left;
}

.valider {
  text-align: right;
}

/*media queries navbar*/

@media screen and (max-width: 612px) {
  header,
  header ul,
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h1,
  h2,
  .font,
  h4 {
    font-size: 25px;
  }
}

/*media queries royal family*/

@media screen and (max-width: 1020px) {
  .royalfam {
    display: flex;
    flex-direction: column;
  }
  .royalfam p {
    font-size: 20px;
  }
}

@media screen and (max-width: 370px) {
  .royalfam img {
    width: 200px;
    height: 200px;
  }
}

/*media queries des assets*/

@media screen and (max-width: 1400px) {
  .assetscontent {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 534px) {
  thead th {
    font-size: 15px;
  }

  th {
    font-size: 10px;
    padding: 10px;
  }

  td {
    font-size: 10px;
    padding: 5px;
  }

  .hidenseek th {
    padding: 5px;
  }
}

/*media queries contact us*/

@media screen and (max-width: 600px) {
  .contenttournois {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }

  input,
  textarea {
    width: 80%;
  }
  button:hover {
    transform: scaleX(1) scaleY(1);
  }
  button {
    padding: 3% 5%;
    margin: 5% 5%;
  }
  hr {
    margin: 5% auto;
  }
}
